body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    padding-bottom: 40px;
}

h1, h2 {
    text-align: center;
}

.hero {
    padding: 40px 20px;
}

.social-box {
    margin: 20px auto;
    width: 60px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social-box img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.projects-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #1b1b1b;
    border-radius: 12px;
}

.project {
    position: relative;
    height: 180px;
    overflow: hidden;
    border-radius: 8px;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    border-radius: 8px;
    
}

.project .main-img {
    z-index: 1;
}

.project .hover-img {
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s;
}

.project:hover .hover-img {
    opacity: 1;
}


.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #222;
    width: 70%;
    max-width: 600px;
    height: 80%;
    overflow-y: auto;
    padding: 20px;
    border-radius: 12px;
    position: relative;
}

.modal-open .project {
    filter: grayscale(100%);
    opacity: 0.3;
    pointer-events: none;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.profile-box {
    display: flex;
    gap: 20px;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #1b1b1b;
    border-radius: 12px;
    align-items: center;
}

.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
    background: #333;
}

.profile-info {
    flex: 1;
}

.profile-info h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

.profile-info p{
    margin-top: 8px;
    line-height: 1.4;
    font-size: 16px;
}

.social-box-container {
    margin-top: 20px;
    padding: 12px 16px;
    background: #222;
    border-radius: 10px;
    width: fit-content;
}

.social-row {
    display: flex;
    gap: 14px;
    justify-content: center;
}

.social-row img {
    width: 40px;
    height: 40px;
}

.section-title {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 10px;
}

.project-grid {
    max-width: 900px;
    margin: 20px auto 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}